.counter-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.counter-value {
  font-size: 20px;
  color: #333;
}
